{% extends 'layouts/base.html' %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">Liste des Environnements</h1>
    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr class="w-full bg-gray-200 border-b">
                <th class="py-2 px-4 text-left">Nom</th>
                <th class="py-2 px-4 text-left">Nombre de Serveurs</th>
                <th class="py-2 px-4 text-left">Nombre de Services</th>
                <th class="py-2 px-4 text-left">Détails</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="py-2 px-4">HKDJ</td>
                <td class="py-2 px-4 text-center">0</td>
                <td class="py-2 px-4 text-center">0</td>
                <td class="py-2 px-4 text-center">
                    <a href="#" class="text-blue-500 hover:underline">Voir Détails</a>
                </td>
            </tr>
            <tr class="border-b">
                <td class="py-2 px-4">HKDJ</td>
                <td class="py-2 px-4 text-center">0</td>
                <td class="py-2 px-4 text-center">0</td>
                <td class="py-2 px-4 text-center">
                    <a href="#" class="text-blue-500 hover:underline">Voir Détails</a>
                </td>
            </tr>
           
        </tbody>
    </table>
{% endblock %}
